form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.search {
  position: relative;
  width: 90%;
}

.search input {
  height: 7vh;
  width: 100%;
}
.search input::placeholder {
  padding-left: 3rem;
}
.search i {
  position: absolute;
  padding: 20px 12px;
}

.filter select {
  margin-top: 1rem;
  height: 7vh;
  width: 10rem;
}

@media only screen and (min-width: 700px) {
  form {
    flex-direction: row;
  }

  .search {
    width: 30%;
  }
  .search i {
    padding: 12px 12px;
  }
}
